@media screen and (min-width: 1024px) and (max-width: 1190px) {
	#nav,article{
		width: 90%;
		overflow: hidden;
	}
	.tuijian>ul>li{
		width: 26%;
	}
}

@media  (min-width: 960px) and (max-width: 1023px) {
	#nav,article{
		width: 90%;
		overflow: hidden;
	}
	
	.tuijian>ul>li{
		width: 25.7%
	}
}

@media screen and (min-width: 768px) and (max-width: 959px) {
	#nav,article{
		width: 96%;
		overflow: hidden;
	}
	
	#startlist li a{
		padding:15px;
	}
	.front,
	.back{
		padding:15px;
	}
	.tuijian>ul>li{
		width: 27%
	}
	article .pics ul li:nth-child(2){
		margin:0 0 0 12px;
	}
	.rightbox{
		display: none
	}
	.leftbox{
		width: 100%;
	}
	.dataview{
		width: 100px;
	}
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
	#nav,article{
		width: 96%;
		overflow: hidden;
	}
	#navh{
		display: block;
	}
	#startlist{
		display: none;
		width: 100%;
	}
	#startlist li{
		box-sizing: border-box;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}
	.tuijian >ul>li{
		width: 28%;
		padding:10px;
	}
	.pics ul li i{
		height: 100px;
	}
	.pics ul li img{
		height: 100%
	}
	.pics ul li:nth-child(2){
		margin-left: 8px;
	}
	.pics ul li span{
		display: none;
	}
	.rightbox{
		display: none;
	}
	.leftbox{
		width: 100%;
	}
	/*share 分页*/
	.pagelist a{
		margin:0;
		border: 0;
		padding: 5px 0px;
	}
	/*live*/
	.infos .share .zan{
		float:none;
		margin: auto;
	}
	.news-infos img{
		max-width: 400px;
	}
	.infos .share .dasbox{
		display: none;
	}
	.paydashang{
		display: block;
	}


	/*日记*/
	
	.arrow-box li{
		width: 80%;
		padding:10px 0;

	}
	.bloglist{
		background-position: 69% 0;
	}
	.arrow-box .sy img{
		margin:0 10px;
		float: none;
	}
	.arrow-box .sy p{
		padding:10px;
	}
	.dataview{
		width: 100px;
	}
	.arrow-box li::before{
		border-width:  0 0 10px 12px;
	}
	/*留言*/
	.contact-email>.wrap{
		width: 80%;
	}
	.content-form{
		width: 90%;
	}
}
@media screen and (max-width: 479px) {
	#nav,article{
		width: 96%;
	}
	#navh{
		display: block;
	}
	#startlist{
		display: none;
		width: 100%;
	}
	#startlist li{
		box-sizing: border-box;
		float: none;
		display: block;
		width: 100%;
		text-align: center;
		padding-left: 20px;
	}
	.pics ul>li{
		width: 100%;
	}
	.pics>ul li:nth-child(2){
		margin:10px 0;
	}
	.rightbox{
		display: none;
	}
	.leftbox{
		width:100%;
	}
	.title span{
		display: none;
	}
	.tuijian>ul>li{
		width: 45%;
		padding:5px;
	}
	/*share 分页*/
	.pagelist a{
		margin:0;
		border: 0;
		padding: 5px 0px;
	}
	/*study*/
	.bloginfo .blogpic{
		width: 100%;
		max-height: 120px;
		float: none;
		margin:auto;
	}
	.autorinfo .viewnum,.autorinfo .yw{
		display: none;
	}
	/*live*/
	.infos .share .zan{
		float:none;
		margin: auto;
	}
	.news-infos img{
		max-width: 400px;
	}
	.infos .share .dasbox{
		display: none;
	}
	.paydashang{
		display: block;
	}
	/*日记*/
	
	.arrow-box li{
		width: 80%;
		padding:10px 0;

	}
	.bloglist{
		background-position: 69% 0;
	}
	.arrow-box .sy img{
		margin:0 10px;
		float: none;
	}
	.arrow-box .sy p{
		padding:10px;
	}
	.dataview{
		width: 100px;
	}
	.arrow-box li::before{
		border-width:  0 0 10px 12px;
	}
	/*留言*/
	.contact-email>.wrap{
		width: 90%;
	}
	.content-form{
		width: 100%;
	}
}

